
<div class="intro">
  <style type="text/css" class="scoped">
    .intro{
    	/*font-family: 'Nixie One', cursive;*/
    	font-family: Fira Sans, sans-serif;
    	color: #222;
    	background: white;
    	font-weight: 300;
    	
    }
    ul{
    	list-style: none;
    	
    	margin: 0 auto;
    	padding: 0px;
    }
    ul.items{
    	
    }
    .item a{
    	color: #2255cc;
    	font-weight: 400;
    }
    .item a:hover{
    	font-weight: 300;
    }
    .item{
    	margin: 5px;
    	text-align: left;
    }
    .item .title{
    	font-size: 1.3rem;
    }
    ul.social{
    	max-width: 320px;
    }
    ul.articles{
    	max-width: 640px;
    }
    li.article{
    	padding-bottom: 10px;
    	border-bottom: 1px solid #ddd;
    }
    div.separator{
    	padding-bottom: 10px;
    	border-bottom: 1px solid #ddd;
    }
    .title{
    	margin-bottom: 2px;
    	padding: 0px;
    }
    .subtitle{
    	margin-top: 0;
    	padding-top: 0px;
    }
    .article .title{
    	margin-bottom: 5px;
    }
    .article p{
    	padding: 0 20px;
    	margin: 0px;
    }
    h2{
    	font-size: 2rem;
    }
    h3{
    	font-size: 1.5rem;
    }
    h4{
    	font-size: 1.3rem;
    }
    div.list{
    	margin-bottom: 5px;
    	margin-top: 5px;
    	font-size: 0.9rem;
    }
    div.list.child{
    	margin-left: 15px;
    }
    
  </style>
  <div class="text-center">
    <h2 class="title">Javier Arancibia</h2>
    <h4 class="subtitle">Independent software developer in paris, ile de france.</h4>
    <ul class="social">
      <li>21-12-90</li>
      <li>arancibiajav@gmail.com</li>
      <li>www.misitioba.com</li>
    </ul>
  </div>
  <div class="text-left separator">
    <h2 class="title">Academic Formation</h2>
    <div class="item"><b>Software engineer. </b>
      <div class="list child">
        UBA, Buenos Aires, Argentina. 
        Not finished.
      </div>
    </div>
    <div class="item"><b>Technician in Computer Programming. </b>
      <div class="list child">UTN, Mar del Plata, Provincia de Buenos Aires, Argentina.</div>
    </div>
    <div class="item"><b>Technician in Computer oriented to economy and organizations.</b>
      <div class="list child">E.E.T.Nº 5, Mar del Plata, Provincia de Buenos Aires, Argentina.</div>
    </div>
    <div class="item"><b>Programming Camp. E.E.T.Nº 3</b>
      <div class="list child">E.E.T.Nº 5, Mar del Plata, Provincia de Buenos Aires, Argentina.</div>
    </div>
  </div>
  <div class="text-left separator">
    <h2 class="title">Profesional Formation</h2>
    <div class="item"><b>Clarity S.A. </b>
      <div class="list child">www.clarity.com.ar<br/>programmer analyst<br/>six years duration. 2011 - 2016<br/>technologies - asp, c#, wcf, webservices, html5, javascript, sql server, ssh, c++, linux, remotedesktop, svn tfc.</div>
    </div>
    <div class="item"><b>Quadramma</b>
      <div class="list child">www.quadramma.com<br/>fullstack developer<br/>two years 2012 - 2014<br/>technologies - html5, javascript, mysql, php, c#, unity3d, coronasdk, phonegap, svn git, mac, linux.</div>
    </div>
    <div class="item"><b>Endigames</b>
      <div class="list child">www.endigames.com<br/>game developer<br/>two years 2012 - 2014<br/>technologies - html5, javascript, mysql, php, c#, unity3d, coronasdk, phonegap, svn git, mac, linux.</div>
    </div>
    <div class="item"><b>PyM Consulting</b>
      <div class="list child">www.pymconsultores.com<br/>assistant teacher<br/>six months duration. (2012)</div>
    </div>
  </div>
  <div class="text-left separator">
    <h2 class="title">Technologies</h2>
    <p>
      html, angularjs, bootstrap ui, jquery, ajax, http web servicies, wcf, asp, asp .net, mvc5, signalR, javascript, nodejs, websocket, threejs, pixijs, unity3d, unreal engine, java hibernate, ideafix,  cryengine, cocos2dhtml5, coronaSdk, php eden flight medoo cake, mysql, sqlserver, coffescript, wordpress, sql server, mysql, gulp, mongodb, composer bower npm grunt, mobile phonegap  cocoonjs, flash adobe, air actionscript, lua, python, c++, sap, opengl, sdl, linux, windows, remotedesktop, ssh, stylus, ftp, vpns, git, jade, stylus, sublime text.
      
    </p>
  </div>
  <div class="text-left separator">
    <h2 class="title">Languages</h2>
    <div class="item">
      <div class="list child">Spanish native</div>
      <div class="list child">English intermediate</div>
      <div class="list child">French basic</div>
    </div>
  </div>
  <div class="text-left separator">
    <h2 class="title">Contact</h2>
    <div class="item">
      <div class="list child">arancibiajav@gmail.com (recommended)</div>
      <div class="list child">ja@misitioba.com</div>
      <div class="list child">AR +54 9 11 36789540 </div>
      <div class="list child">FR +34 6 72997572</div>
    </div>
  </div>
</div>