
<div class="intro">
  <style type="text/css" class="scoped">
    .intro{
    	/*font-family: 'Nixie One', cursive;*/
    	font-family: Fira Sans, sans-serif;
    	color: #222;
    	background: white;
    	font-weight: 300;
    	
    }
    ul{
    	list-style: none;
    	
    	margin: 0 auto;
    	padding: 0px;
    }
    ul.items{
    	
    }
    .item a{
    	color: #2255cc;
    	font-weight: 400;
    }
    .item a:hover{
    	font-weight: 300;
    }
    .item{
    	margin: 5px;
    	text-align: left;
    }
    .item .title{
    	font-size: 1.3rem;
    }
    ul.social{
    	max-width: 320px;
    }
    ul.articles{
    	max-width: 640px;
    }
    li.article{
    	padding-bottom: 10px;
    	border-bottom: 1px solid #ddd;
    }
    .title{
    	margin-bottom: 2px;
    	padding: 0px;
    }
    .subtitle{
    	margin-top: 0;
    	padding-top: 0px;
    }
    .article .title{
    	margin-bottom: 5px;
    }
    .article p{
    	padding: 0 20px;
    	margin: 0px;
    }
    h2{
    	font-size: 2rem;
    }
    h3{
    	font-size: 1.5rem;
    }
    h4{
    	font-size: 1.3rem;
    }
    div.list{
    	margin-bottom: 5px;
    	margin-top: 5px;
    	font-size: 0.9rem;
    }
    div.list.child{
    	margin-left: 15px;
    }
    
  </style>
  <div class="text-center">
    <h2 class="title">I'm Javier Arancibia</h2>
    <h4 class="subtitle">Independent software developer</h4>
    <h4><a href="https://mail.google.com/mail/?view=cm&amp;fs=1&amp;to=ja@misitioba.com" target="blank">email me now</a></h4>
    <ul class="social">
      <li><a href="https://twitter.com/javimosch" target="blank">twitter</a></li>
      <li><a href="https://www.facebook.com/javoche" target="blank">facebook</a></li>
      <li><a href="https://about.me/arancibiajav" target="blank">about.me</a></li>
    </ul>
  </div>
  <div class="text-left">
    <ul class="articles">
      <li class="article">
        <h3 class="title">Currently, I'm installing in Paris and looking to join up on a startup. I also aim for a temporal job at the begin.</h3>
        <p>I moved here to gain working experience in France and learn french. I will be glad to help local enterprendeurs to archive goals thanks to information technologies.</p>
      </li>
      <li class="article">
        <h3 class="title">I made a bunch of sites early last year.</h3>
        <ul class="items">
          <li class="item"><a href="https://www.clearfilm.com/" taget="blank" class="title">Clear Film</a>&nbsp;(Web)
            <div>Auto Paint Protection film and personalization. In the beginning was a 'scroll parallax site'.</div>
          </li>
          <li class="item"><a href="http://www.gailuminacion.com/" target="blank" class="title">GAIluminacion</a>&nbsp;(Web)
            <div>Import & Export of Lights devices.</div>
          </li>
          <li class="item"><a href="https://github.com/Quadramma/Site.Colpermin" target="blank" class="title">Colpermin IBS</a>&nbsp;(Android)
            <div>Presentation mobile app for tablets.</div>
          </li>
          <li class="item"><a href="https://github.com/Quadramma/Neutrogena" target="blank" class="title">Neutrogena</a>&nbsp;(Android)
            <div>Presentation mobile app for tablets.</div>
          </li>
          <li class="item"><a href="https://github.com/Quadramma/Winter" target="blank" class="title">Winter Meds</a>&nbsp;(Android)
            <div>Presentation mobile app for tablets. Winter Meds Aids 2014.</div>
          </li>
        </ul>
      </li>
      <li class="article">
        <h3 class="title">Sometimes I have a job.</h3>
        <h4 class="subtitle">I'm a programmer / analyst</h4>
        <div>I work as a programmer since five years non-consecutive in <a href="http://www.clarity.com.ar" target="blank"><b>Clarity S.A</b></a>, a software factory who develops Clarity Health 
          and Clarity Flow
          , a versatil web based <b>ERP&nbsp;</b>and rock solid 
          with presence in all |latinoamerica.
        </div>
        <div>When action calls, I fight the evil in <a href="http://www.quadramma.com" target="blank"><b>Quadramma</b></a>,a Digital Creative Agency based in Buenos Aires, Argentina.</div>
        <div>If a diversion is needed, I join up with a league of artists in La Plata, Buenos Aires, to create stunning games. We us to call us <a href="http://www.endigames.com" target="blank"><b>Endigames</b></a></div>
      </li>
      <li class="article">
        <h3 class="title">I'm devoted to open source.</h3>
        <h4 class="subtitle">Truly good things are free.</h4>
        <div>
          <ul class="social text-center">
            <li><a href="https://www.npmjs.com/~javiermosch" target="blank">npm</a></li>
            <li><a href="https://github.com/Quadramma" target="blank">github#1</a></li>
            <li><a href="https://github.com/javimosch" target="blank">github#2</a></li>
            <li><a href="https://gitlab.com/u/javimosch" target="blank">gitlab</a></li>
            <li><a href="https://bitbucket.org/javimosch/" target="blank">bitbucket</a></li>
          </ul>
        </div>
      </li>
      <li class="article">
        <h3 class="title">I'm not just a hacker.</h3>
        <h4 class="subtitle">My tinkering has varying success.</h4>
        <div><a href="https://en.wikipedia.org/wiki/Hacker_culture" target="blank"> <b>Hacking </b></a>is not my fulltime activity. I'm a bit apasionate about cousine & travels and I made use of that. Exploring diferents cultures opened to me a bunch of opportunities. I suddenly have lots of interest in carpentry, electronics, bike mechanics, tiny houses. <b>I want and I will create, beyond digital. </b></div>
      </li>
      <li class="article">
        <h3 class="title">I think I know how the world works.</h3>
        <h4 class="subtitle">Down-to-earth happiness.</h4>
        <div class="list">- There is <b>no absolute meaning </b>to life
          <div class="list child">- You, and everithing <b>you know and love ...</b>
            <div class="list child">- <b>exist by pure chance </b>, a serie of accidents.</div>
            <div class="list child">- are but an <b>insignificant fraction </b>of the universe.</div>
            <div class="list child">- will <b>cease to exists soon.</b></div>
          </div>
        </div>
        <div class="list"><b>- You choice what has meaning</b>, you are free.</div>
        <div class="list">- Everithing you ever have is <b>here </b>and <b>now, cherish it.</b></div>
      </li>
      <li class="article">
        <h3 class="title">I'm ready to hear your idea.</h3>
        <h4 class="subtitle">cooperation just works.</h4>
        <div><b>Some things I can help with:</b>
          <ul>
            <li>brainstorming.</li>
            <li>project management.</li>
            <li>create a web page in time record.</li>
            <li>create and publish a mobile application to play store and apple store in time record.</li>
            <li>create native applications.</li>
            <li>create or expand software.</li>
            <li>software analisys.</li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
  <div class="text-center">
    <h4><a href="aboutme" target="_self">view cv</a></h4>
    <h4><a href="https://mail.google.com/mail/?view=cm&amp;fs=1&amp;to=ja@misitioba.com" target="blank">email me now</a></h4>
  </div>
</div>