
<div class="intro">
  <style type="text/css" class="scoped">
    .intro{
    	/*font-family: 'Nixie One', cursive;*/
    	font-family: Fira Sans, sans-serif;
    	color: #222;
    	background: white;
    	font-weight: 300;
    	
    }
    ul{
    	list-style: none;
    	
    	margin: 0 auto;
    	padding: 0px;
    }
    ul.items{
    	
    }
    .item a{
    	color: #2255cc;
    	font-weight: 400;
    }
    .item a:hover{
    	font-weight: 300;
    }
    .item{
    	margin: 5px;
    	text-align: left;
    }
    .item .title{
    	font-size: 1.3rem;
    }
    ul.social{
    	max-width: 320px;
    }
    ul.articles{
    	max-width: 640px;
    }
    li.article{
    	padding-bottom: 10px;
    	border-bottom: 1px solid #ddd;
    }
    div.separator{
    	padding-bottom: 10px;
    	border-bottom: 1px solid #ddd;
    }
    .title{
    	margin-bottom: 2px;
    	padding: 0px;
    }
    .subtitle{
    	margin-top: 0;
    	padding-top: 0px;
    }
    .article .title{
    	margin-bottom: 5px;
    }
    .article p{
    	padding: 0 20px;
    	margin: 0px;
    }
    h2{
    	font-size: 2rem;
    }
    h3{
    	font-size: 1.5rem;
    }
    h4{
    	font-size: 1.3rem;
    }
    div.list{
    	margin-bottom: 5px;
    	margin-top: 5px;
    	font-size: 0.9rem;
    }
    div.list.child{
    	margin-left: 15px;
    }
    b{
    	line-height: 20px
    }
  </style>
  <div class="text-center">
    <h2 class="title">Misitioba </h2>
    <h4 class="subtitle">A personal space to create state of art web pages.</h4>
  </div>
  <div class="text-center separator">
    <h4><a href="tel:+33780829054">+33 07 82 80 90 54</a></h4>
    <div>
      <ul class="inline">
        <li class="spacing-1"> <a href="https://www.facebook.com/misitioba/" target="blank"><i class="fa fa-facebook"></i></a></li>
        <li class="spacing-1"><a href="https://twitter.com/javimosch" target="blank"><i class="fa fa-twitter"></i></a></li>
        <li class="spacing-1"><a href="https://github.com/javimosch" target="blank"><i class="fa fa-github"></i></a></li>
        <li class="spacing-1"><a href="https://mail.google.com/mail/?view=cm&amp;fs=1&amp;to=arancibiajav@gmail.com" target="blank"><i class="fa fa-pencil"></i></a></li>
      </ul>
    </div>
  </div>
</div>