extends ../views/layouts/_black

block header
	include ../views/partials/_header-page
block content
	//!= self.utils('page',{title:'mi cv'}).__content
	include ../views/_aboutme
block scripts
	include ../views/partials/_scripts
	script(type='text/javascript').
		require('app').showContent();




