
.console
	position absolute 
	background white
	bottom 0px
	height 100px 
	width 100% 
	overflow hidden 
	overflow-y auto
.console ul
	list-style none
	margin 5px auto
.console ul li
	font-size 9px 
	
.console .error
	color:red;