

img.logo
	width: 40px;
	height: 40px;
	margin: 10px auto 0px auto;
	position: inherit!important;


.logo
	height 100%
	width 100% 
	position absolute 
.logo div
	lost-row 1/3
	display flex 
	

.logo img, .logo a
	margin auto auto 
	width 200px 
	display block 