
.hide, .hidden
	display none!important; 

.center
	margin 0 auto 

.center-container
	width: 100%;
	display: inline-flex;
	
.text-center
	text-align center 

.text-left
	text-align left 
	
.inline
	display inline-flex
	
.spacing-1
	margin 5px 