


.intro-email
	background: white;
	position: absolute;
	width: 100%;
	font-family: 'Nixie One', cursive;
	font-size: x-large;
	font-weight: 200;
	text-align: center;
	padding-bottom 5px 

.slider
	position: absolute;
	height: 200px;
	width: 100%;
	background: orange;
	margin-top: 50px;
	
.slider .article
	position relative
	max-width: 600px;
	background: white;