a
	text-decoration none
	color black 
a:hover
	color: #222;
	

button.black, a.button-black div
	background: transparent;
	border: 2px solid rgba(0,0,0,0);
	padding: 15px;
	font-size: 1rem;
	font-weight: 600;
	max-width: 200px;
	margin: 10px auto;

button.black:hover, a.button-black div:hover
	background: rgba(0,0,0,.1);
	border: 2px solid #000;
	cursor pointer