div.intro
	
	style.scoped(type='text/css')
		include ../../styles/css/_page.css

	div.text-center
		h2.title Getabiker
		h4.subtitle Deliver your stuff faster | Monetize your bike skills

		ul.social
			li introducing to you as a
			li web and mobile app
			//li www.getabiker.com
			//li late summer 2017

	div.text-left.separator
		h2.title Description
		div
			p.
				Getabiker is a mobile & web utility for people who want to send small packages all over Paris and instead of using courier service that is expensive and delays too much time, they prefer a faster and eco-frendly option using available bikers all over the city.
	div.text-left.separator
		h2.title Why
		div
			p
				|Normal courier service takes long time to delay a simple letter and they charge you a lot if the size exceeds some limits.
				br
				|Special courier service may be faster but is still expensive for the common citizen. 
				br
				|A cheaper, faster and eco-frendly option needs to show up.
				br
				|Thats why getabiker borns.

	div.text-left.separator
		h2.title How
		div
			p.
				Getabiker consist in two application. A web application for the person who may want to send a package time to time and a mobile application only for the biker who may want to trace his work and assignements.
				Both applications will be using bleeding edge technology.
		h3.title Technologies proposed
		div.list
			div.list.child
				|- Reactjs and Native Reactive
			div.list.child
				|- Parse framework
			div.list.child
				|- Google Firebase framework

	

	div.text-left.separator
		h2.title Esscence
		div
			p
				b People need to help each other, imagine this case escenario:
				br
				|Louise want to send a book she got for her sister Charlotte, but charlotte lives in the other side of Paris. 
				br
				|Antoine is an student and partime worker, he also loves biking and lives near Louise house. Both of them have a getabiker account and they take adventage.
				br
				|Louise saves time and money and in only fifteen minutes she gives the book to Antoine who is waiting outside her house. Twenty-five minutes later Charlotte receives the book with a smile at home and thanks Antoine.
				br
				|Antoine is a few euros richer and he looks at his smartphone, there are ten most opportunities around and the day is young.

	div.text-left.separator
		h3.title Get involved
		div.list
			div.list.child
				a(href='https://mail.google.com/mail/?view=cm&fs=1&to=arancibiajav@gmail.com',target='blank')
					|email me
			div.list.child
				a.twitter-share-button(href="https://twitter.com/share",data-url="http://misitioba/getabiker/",data-text="Check out this app idea that is rising",data-via="javimosch",data-hashtags="getabiker")
			
			script()
				|//twitter sdk
				|!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

	div.text-left.separator
		h3.title Status
		div.list
			div.list.child
				|- sketching
			div.list.child
				|- interviewing
			div.list.child
				|- collecting info

