meta(charset='utf8')
meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
meta(name='description', content='JA/Misitioba is a personal digital brand that offers professional web development services and is located in Paris, Île de France.')
meta(name='author', content= "author of the site")
//- uncomment if your site is responsive!
meta(name="viewport" content="width=device-width, initial-scale=1")
title  JA / MisitioBA

//link(href='https://fonts.googleapis.com/css?family=Fira+Sans:400,300', rel='stylesheet', type='text/css')

link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css',rel='stylesheet',type='text/css')

link(href='https://fonts.googleapis.com/css?family=Nixie+One', rel='stylesheet', type='text/css')

link(rel='stylesheet',type='css/text',href=self.config.root+'app.css')

// Favicons Generated with favicon.il.ly
link(rel='icon', sizes='16x16 32x32 48x48 64x64', href=self.config.root+'img/favicon.ico')
//if IE
  link(rel='shortcut icon', href=self.config.root+'img/favicon.ico')
// Optional: Android & iPhone
link(rel='apple-touch-icon-precomposed', href=self.config.root+'img/favicon-152.png')
// Optional: IE10 Tile.
meta(name='msapplication-TileColor', content='#FFFFFF')
meta(name='msapplication-TileImage', content='favicon-144.png')
// Optional: ipads, androids, iphones, ...
link(rel='apple-touch-icon-precomposed', sizes='152x152', href=self.config.root+'img/favicon-152.png')
link(rel='apple-touch-icon-precomposed', sizes='144x144', href=self.config.root+'img/favicon-144.png')
link(rel='apple-touch-icon-precomposed', sizes='120x120', href=self.config.root+'img/favicon-120.png')
link(rel='apple-touch-icon-precomposed', sizes='114x114', href=self.config.root+'img/favicon-114.png')
link(rel='apple-touch-icon-precomposed', sizes='72x72', href=self.config.root+'img/favicon-72.png')
link(rel='apple-touch-icon-precomposed', href=self.config.root+'img/favicon-57.png')