div.text-center
		h2.title Javier Arancibia
		h4.subtitle Independent software developer in paris, ile de france.

		ul.social
			li 21-12-90
			li arancibiajav@gmail.com
			li www.misitioba.com

	div.text-left.separator
		h2.title Academic Formation
		div.item
			b Software engineer. 
			div.list.child
				|UBA, Buenos Aires, Argentina. 
				|Not finished.
		div.item
			b Technician in Computer Programming. 
			div.list.child
				|UTN, Mar del Plata, Provincia de Buenos Aires, Argentina.
		div.item
			b Technician in Computer oriented to economy and organizations.
			div.list.child
				|E.E.T.Nº 5, Mar del Plata, Provincia de Buenos Aires, Argentina.
		div.item
			b Programming Camp. E.E.T.Nº 3
			div.list.child
				|E.E.T.Nº 5, Mar del Plata, Provincia de Buenos Aires, Argentina.

	div.text-left.separator
		h2.title Profesional Formation
		div.item
			b Clarity S.A. 
			div.list.child
				|www.clarity.com.ar
				br
				|programmer analyst
				br
				|six years duration. 2011 - 2016
				br
				|technologies - asp, c#, wcf, webservices, html5, javascript, sql server, ssh, c++, linux, remotedesktop, svn tfc.
		div.item
			b Quadramma
			div.list.child
				|www.quadramma.com
				br
				|fullstack developer
				br
				|two years 2012 - 2014
				br
				|technologies - html5, javascript, mysql, php, c#, unity3d, coronasdk, phonegap, svn git, mac, linux.
		div.item
			b Endigames
			div.list.child
				|www.endigames.com
				br
				|game developer
				br
				|two years 2012 - 2014
				br
				|technologies - html5, javascript, mysql, php, c#, unity3d, coronasdk, phonegap, svn git, mac, linux.
		div.item
			b PyM Consulting
			div.list.child
				|www.pymconsultores.com
				br
				|assistant teacher
				br
				|six months duration. (2012)

	div.text-left.separator
		h2.title Technologies
		p.
			html, angularjs, bootstrap ui, jquery, ajax, http web servicies, wcf, asp, asp .net, mvc5, signalR, javascript, nodejs, websocket, threejs, pixijs, unity3d, unreal engine, java hibernate, ideafix,  cryengine, cocos2dhtml5, coronaSdk, php eden flight medoo cake, mysql, sqlserver, coffescript, wordpress, sql server, mysql, gulp, mongodb, composer bower npm grunt, mobile phonegap  cocoonjs, flash adobe, air actionscript, lua, python, c++, sap, opengl, sdl, linux, windows, remotedesktop, ssh, stylus, ftp, vpns, git, jade, stylus, sublime text.

	div.text-left.separator
		h2.title Languages
		div.item
			div.list.child
				|Spanish native
			div.list.child
				|English intermediate
			div.list.child
				|French basic

	div.text-left.separator
		h2.title Contact
		div.item
			div.list.child
				|arancibiajav@gmail.com (recommended)
			div.list.child
				|ja@misitioba.com
			div.list.child
				|AR +54 9 11 36789540 
			div.list.child
				|FR +34 6 72997572