ul.items
	li.item
		a(href=self.config.root+'getabiker',taget='blank').title
			|GetABiker
		|&nbsp;(Web and mobile app) 
		div
			|Diliver stuff in your city in meter of hours/minutes using an available biker who want to make some extra money. 
	li.item
		a(href=self.config.root+'meetfood',taget='blank').title
			|MeetFood
		|&nbsp;(Web) 
		div
			|Organize or join to food events where all attendants will cook together, meet each other and have a good time.