<div class="carousel-wrapper">
 
  <span id="target-item-1"></span>
  <span id="target-item-2"></span>
  <span id="target-item-3"></span>
  <span id="target-item-4"></span>
  <span id="target-item-5"></span>
  
  <!-- Start carousel items-->
  <div class="carousel-item item-1">
    
     <h2></h2>
    <p></p> 

    <a class="arrow arrow-prev" href="#target-item-3"></a>
    <a class="arrow arrow-next" href="#target-item-2"></a>
  </div>

  <div class="carousel-item item-2">
     <h2></h2>
    <p></p> 
    <a class="arrow arrow-prev" href="#target-item-1"></a>
    <a class="arrow arrow-next" href="#target-item-3"></a>
  </div>
  <div class="carousel-item item-3">
         <h2></h2>
    <p></p> 
    <a class="arrow arrow-prev" href="#target-item-2"></a>
    <a class="arrow arrow-next" href="#target-item-4"></a>
  </div>
  <div class="carousel-item item-4">
         <h2></h2>
    <p></p> 
    <a class="arrow arrow-prev" href="#target-item-3"></a>
    <a class="arrow arrow-next" href="#target-item-5"></a>
  </div>
  <div class="carousel-item item-5">
         <h2></h2>
    <p></p> 
    <a class="arrow arrow-prev" href="#target-item-4"></a>
    <a class="arrow arrow-next" href="#target-item-1"></a>
  </div>
</div>