extends ../views/layouts/_black

block header
	include ../views/partials/_header-page
block content

	style.scoped(type='text/css')
		include ../styles/css/_page.css

	div.text-center.separator
		h2.title PROJECTS 
		h4.subtitle.separator
			| A personal space to develop creativity

		include ../views/partials/_projects

block scripts
	include ../views/partials/_scripts


