extends ../../views/layouts/_black

block content
	include ../../views/_aboutme-cv
block scripts
	include ../../views/partials/_scripts
	script(type='text/javascript').
		require('app').showContent();




