extends ../views/layouts/_black

block header
	include ../views/partials/_header-page
block content
	include ./partials/_content
block scripts
	include ../views/partials/_scripts
	script(type='text/javascript').
		require('app').showContent();




