div.intro

	style.scoped(type='text/css')
		include ../styles/css/_page.css

	style.scoped(type='text/css')
		include ../styles/css/_slider.css

	div.text-center.separator
		h2.title MISITIOBA 
		h4.subtitle.separator
			| A personal space to develop creativity

		include ../views/partials/_slider.html

	div.text-center
		a.button-black(href='aboutme') 
			div ABOUT

		a.button-black(href='projects') 
			div PROJECTS

		a.button-black.contact-button() 
			div CONTACT
		div.contact-content
			i.fa.fa-arrow-up
			h4
				a(href='mailto:ja@misitioba.com')
					|JA@MISITIOBA.COM
			h4
				a(href='tel:+33780829054')
					|+33 07 82 80 90 54

		script().
			var contactVisible = false;
			var contactButton = document.querySelector('.contact-button');
			var contactContent = document.querySelector('.contact-content');
			var contactArrowUp = document.querySelector('.contact-content .fa-arrow-up');
			var toggle = function(el,val){
				if(!val){
					if(el.className.indexOf('hidden')===-1){
						el.className = el.className + ' hidden';
					}
				}else{
					el.className = el.className.replace('hidden','');
				}
			};
			contactButton.onclick = function(){
				toggle(contactButton,false);
				toggle(contactContent,true);	
			}
			contactArrowUp.onclick=function(){
				toggle(contactButton,true);
				toggle(contactContent,false);		
			}
			toggle(contactButton,true);
			toggle(contactContent,false);

		div.social-icons
			ul.inline
				li.spacing-1 
					a(href='https://www.facebook.com/misitioba/',target='blank')
						<i class="fa fa-facebook"></i>
				li.spacing-1
					a(href='https://twitter.com/javimosch',target='blank')
						<i class="fa fa-twitter"></i>
				li.spacing-1
					a(href='https://github.com/javimosch',target='blank')
						<i class="fa fa-github"></i>
				li.spacing-1
					a(href='https://mail.google.com/mail/?view=cm&fs=1&to=arancibiajav@gmail.com',target='blank')
						<i class="fa fa-pencil"></i>