extends _base

block head
	include ../partials/_head
block body
	body.white
		header
			block header
		nav
			block nav
		div.content.center.hide
			block content
		footer
			block footer
		block scripts